@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  height: 5px;
  border-radius: 10px;
}

/* swiper progress bar */
.swiper-pagination-progressbar-fill {
  background-color: #d1d5db !important;
}

/* swiper arrows */
.swiper-button-next {
  color: #f3f4f6 !important;
}
.swiper-button-prev {
  color: #f3f4f6 !important;
}