@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  height: 5px;
  border-radius: 10px;
}

.test {
  display: flex;
  justify-content: center;
  align-items: center;
}