@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
    width: 7px;
  }
  
/* Track */
::-webkit-scrollbar-track {
  background: #f9fafb;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d1d5db;
  height: 5px;
  border-radius: 10px;
}

/* Swiper scroll thumb */
.swiper-scrollbar-drag {
  background-color: #d1d5db !important;
}

/* Swiper scroll background */
.swiper-scrollbar-horizontal {
  background-color: #d1d5db29 !important;
}